$ibf: 'Inter-Black';
$ib: 'Inter-Bold';
$il: 'Inter-Light';
$im: 'Inter-Medium';
$ir: 'Inter-Regular';
$isb: 'Inter-Semi-Bold';
$ieb: 'Inter-Extra-Bold';

$white: #fff;
$black: #000;
$gray: #9AA6AC;

$primary: #F6350D;
$purple: #9B56F0;
$blue: #2962FF;

$greenBackground: #19664D;
$grayIconOrText: #747474;
$grayBackground: #FCFCFD;

$transition: all 0.3s ease;